<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A million of data</title>
    
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div class = "Search-Bar"></div>
        <h1>News Headline</h1>
        <form>
            <input type = "text" size="30" onkeyup="showResults(this.value)"/>
        </form>
        <div id="livesearch" class="hide" ></div>
    <script src = "scripts.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>